# Basic Model
## Setup

In [3]:
import pandas as pd
import numpy as np

appl = pd.read_csv("AAPL.csv")
df = appl

In [5]:
df.columns = [c.replace(' ', '_') for c in appl.columns]

df.head()

,Date,Open,High,Low,Close,Adj_Close,Volume
0,2017-11-03,174.000000,174.259995,171.119995,172.500000,171.882111,59398600
1,2017-11-06,172.369995,174.990005,171.720001,174.250000,173.625839,35026300
2,2017-11-07,173.910004,175.250000,173.600006,174.809998,174.183823,24361500
3,2017-11-08,174.660004,176.240005,174.330002,176.240005,175.608719,24409500
4,2017-11-09,175.110001,176.100006,173.139999,175.880005,175.250000,29482600

In [31]:
df.describe()

,Open,High,Low,Close,Adj_Close,Volume
count,20.000000,20.000000,20.000000,20.000000,20.000000,2.000000e+01
mean,172.788999,173.761000,171.421000,172.829001,172.672525,2.826792e+07
std,1.896395,1.854773,2.277084,2.205867,2.076449,1.068559e+07
min,169.949997,170.320007,167.160004,169.080002,169.080002,1.402670e+07
25%,170.974994,172.072498,169.619999,171.087505,171.087505,2.320300e+07
50%,173.199997,174.379998,171.449997,173.105003,173.105003,2.513840e+07
75%,174.390003,175.122501,173.354996,174.704998,174.305367,3.086852e+07
max,175.110001,176.240005,174.649994,176.240005,175.608719,5.939860e+07

In [13]:
a = np.random.randint(2,size=10)
print(a)

[0 1 1 0 0 1 1 1 0 0]

In [33]:
money = 10000
stocks = 0

for i in df['Open']:
    a = np.random.randint(2,size=1)
    if(a>0):
        if(money > i):
            print(a)
            purchased = np.floor(money/i)
            money = money - np.floor(money/i)*i
            stocks = stocks + purchased
        else:
            money = money+stocks*i
            stocks = 0
    else:
        print(a)

money = money+stocks*i
print("current account ",money," Stocks purchased", stocks)

[1]
[0]
[0]
[0]
[0]
[1]
[1]
[0]
[0]
[1]
[1]
[0]
[0]
[0]
[0]
('current account ', 9953.238774999998, ' Stocks purchased', 0)